{% extends 'notetaking/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <form class="col-12" method="POST" id="create-form">
                {% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
            </form>
        </div>
        <div class="row justify-content-around justify-content-md-start">
            <a href="{% url 'notetaking-create-tag' %}" class="btn btn-light border border-dark col-md-2 mr-md-3 ml-md-3 col-5">Create Tag</a>
            <a href="{% url 'notetaking-edit-tag' form.tag.value %}" class="btn btn-light border border-dark col-md-2 col-5">Edit Tag</a>
        </div>
        <br>
        <br>
        <div class="row justify-content-around justify-content-md-start">
            <button class="btn btn-light border border-dark col-md-2 mr-md-3 ml-md-3 col-5" type="submit" form="create-form">Confirm</button>
            <button class="btn btn-light border border-dark col-md-2 col-5" onclick="document.history.back">Cancel</button>
        </div>
    </div>
{% endblock content %}