{% extends 'notetaking/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <form class="col-12" method="POST" id="create-form">
                    {% csrf_token %}
                    <fieldset>
                        {{ form|crispy }}
                    </fieldset>
                </form>
            </div>
            <div class="row">
                <button class="btn btn-light border border-dark col-2 ml-3 mr-2" type="submit" form="create-form">Create Note</button>
                <a class="btn btn-light border border-dark col-2" href="{% url 'notetaking-home' %}">Cancel</a>
            </div>
        </div>
    </div>
{% endblock content %}